export(sraData,sraAutoreg,sraAutoregEvolv,sraAutoregHerit,sraAutoregLog,sraCstvar,sraDrift,sraCanalization,sraCanalizationOpt,sraSelection,sraDirepistasis)
S3method(plot, srafit)
S3method(coef, srafit)
S3method(AIC, srafit)
S3method(BIC, srafit)
S3method(logLik, srafit)
S3method(confint, srafit)
S3method(vcov, srafit)
importFrom("graphics", "plot", "abline", "axis", "layout", "legend", "lines", "par", "points")
importFrom("stats", "coef", "logLik", "confint", "vcov", "dnorm", "pnorm", "rnorm", "uniroot", "AIC", "BIC")
importFrom("stats4", "mle")
